# 干货（也不算吧）
[$\color{black}ChatGPT$](https://chat18.aichatos.xyz/#/chat/1711714532972)\
[$\color{black}LaTeX$](https://www.luogu.com.cn/blog/IowaBattleship/latex-gong-shi-tai-quan)\
[$\color{black}最新 QQ$](https://dldir1.qq.com/qqfile/qq/QQNT/56cb863a/QQ9.9.1.15293_x64.exe)\
[$\color{black}LaTeX软件的安装和使用$](https://www.luogu.com.cn/blog/IowaBattleship/latex-ru-men)\
[$\color{black}建图网站（其实另有大用）$](https://riverhamster.gitee.io/app/graph_editor/)\
[$\color{black}最新edge下载$](https://c2rsetup.edog.officeapps.live.com/c2r/downloadEdge.aspx?platform=Default&source=EdgeInsiderPage&Channel=Canary&language=zh-cn)\
[$\color{black}NOI 大纲$](https://www.noi.cn/upload/resources/file/2023/03/15/1fa58eac9c412e01ce3c89c761058a43.pdf)\
[$\color{black}翻译$](https://fanyi.pdf365.cn/free?value=)\
[$\color{black}如果你想抄袭，就点我吧$](https://www.luogu.com.cn/paste/72nlipje)\
[$\color{black}普通edge下载$](https://c2rsetup.officeapps.live.com/c2r/downloadEdge.aspx?platform=Default&source=EdgeStablePage&Channel=Stable&language=zh-cn&brand=M100)\
[$\color{black}edge\ MC主题$](https://microsoftedge.microsoft.com/addons/detail/minecraft-java-bedrock/onohgkmodhjkbagmoadllmjccpcfccaf?form=MT001Y)\
[$\color{black}国家队论文集$](https://github.com/enkerewpo/OI-Public-Library/tree/master/IOI%E4%B8%AD%E5%9B%BD%E5%9B%BD%E5%AE%B6%E5%80%99%E9%80%89%E9%98%9F%E8%AE%BA%E6%96%87)\
[$\color{black}每天一小时的网络自由$](https://d3doq0jj4dgobw.cloudfront.net/GreenHub%20Setup%202.1.5.exe)\
[$\color{black}可以解决负权值的\ dijkstra$](https://www.cnblogs.com/miraclepbc/p/16007565.html) \
$spfa$ ~~已经死了~~，$dijkstra$ 万岁！
[![](https://cdn.luogu.com.cn/upload/image_hosting/b9dkom54.png?x-oss-process=image/resize,m_lfit,h_2000,w_2010)](https://www.luogu.com.cn/paste/csckifgp)(这上面的图片非雅礼的别点)$\color{white}其实是雅礼的也点不了$
